* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

h1, h2 {
    color: green;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

p {
    text-align: justify;
}

.container {
    width: 1140px; 
    /* margin-left: auto;
    margin-right: auto;
    margin-top: 20px; */
    margin: 20px auto 0 auto;
}

.blog-post {
    /* background-color: #0000ff; */
    width: 75%;
    float: left;
    padding-right: 30px;
    position: relative;
}

.other-posts {
    /* background-color: #00ff00; */
    width: 25%;
    float: left;
}

.author-box {
    /* background-color: #ffff00; */
    padding-top: 20px;
    border-top: 3px solid #808080;
}

.clear-fix:after {
    content: "";
    display: table;
    clear: both;
}

.other {
    margin-bottom: 40px;
}

.author-box img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
}

.author-text {
    font-size: 22px;
    float: left;
    margin-top: 30px;
    margin-left: 10px;
}

.blog-post img {
    height: 150px;
    width: auto; 
}

.date {
    position: absolute;
    top: 10px;
    right: 30px;
}