body{
    text-align: center;
}
h1{
    color: blue;
}
input{
    width: 33%;
    padding: 5px;
    font-size: larger;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
}
.poster{
    width: 300;
    height: auto;
    margin: 10px;
}
.input-container{
    display: flex;
    justify-content: center;
}
.nema-tog-naslova{
    color: red;
    font-size: large;
}